*.iml
etsapp/.gradle
etsapp/local.properties
etsapp/.idea/caches
etsapp/.idea/libraries
etsapp/.idea/modules.xml
etsapp/.idea/workspace.xml
etsapp/.idea/navEditor.xml
etsapp/.idea/assetWizardSettings.xml
etsapp/.DS_Store
etsapp/build
etsapp/captures
etsapp/.externalNativeBuild
etsapp/.cxx
etsapp/local.properties
